.site-block {
  margin-top: 70px;
}


.select-block {
  display: flex;
  flex: 1, 1, 50%;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}



.block-left {
  display: flex;
  flex-direction: column;
  width: 50%;
}


.block-right {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.block-right img{
  height: 100%;
  width: 100%;
  border-radius: 10px;
}


.site-tales {
  max-width: 1120px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* + */
  background-color: #FFF8DC;
  border-radius: 10px;
}

.site-tales__item {
  display: flex;
  width: 22%;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 10px;
  background-color: #feddcf;
  align-items: center;
  border-radius: 10px;
}

.site-tales__title {
  margin: 10px;
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  line-height: 1.7em;
}

.site-tales__description {
  margin: 10px;
  /* background-color: #DAA520; */
}

.site-tales__button {
  margin-top: auto;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 1.8571em;
  border: 2px solid;
  height: 3.4285em;
  width: 8.0em;
}

.button {
  display: flex;
  transition: all 0.5s ease;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.site-tales__item2 {
  display: flex;
  flex: 0 1 200px;
  justify-content: space-between;
  height: calc(205px + 213 * ((100vw - 320px) / 1600));
  color: white;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 10px;
  /* background-color: #0e7a00; */
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  background-image: url(../img/service2_img.jpg);
}

.site-tales__item2:hover {
  .button {
    background-color: white;
    color: #454545;
  }
}

/* Гарантии    */

.site-tales__icon3{
  text-align: left;
}

.site-tales__icon3 > img {
  width: 40px;
  margin-top: 10px;
}

.img__guarantee {
  width: 40px;
}

.site-tales__title3 {
  color: #000066;
  font-weight: bold;
  margin: 10px;
  text-align: left;
  line-height: 1.2em;
}

.site-tales__item3 {
  display: flex;
  width: 22%;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 10px;
  background-color: #ffffff;
  align-items: center;
  border-radius: 10px;
}

.site-tales__description3 {
  margin: 10px;
  font-size: 0.9rem;
}

/* Наши проекты  */

.site-tales__item5 {
  display: flex;
  width: 22%;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 10px;
  background-color: #ffffff;
  align-items: center;
  border-radius: 10px;
}

.site-tales__icon5 {

}

.site-tales__icon5 > img {
  margin-top: 10px;
}

 .img__project {
   max-height: 100vh / 8;
   width: 100%;
   object-fit: contain;
}

.site-tales__title5 {
  color: #000066;
  font-weight: bold;
  margin: 10px;
  text-align: left;
  line-height: 1.2em;
}

.site-tales__description5 {
  margin: 10px;
  font-size: 0.9rem;
}

/*  change for lightbox.js */

.lightbox-image {
    z-index: 200;
}

#lightbox-nav-btnPrev {
    display: none;
}
#lightbox-nav-btnNext {
    display: none;
}

@media only screen and (min-width: 300px) and (max-width: 767px) {
   .site-tales__item {
      flex-basis: 90%;
      flex-shrink: 0;
      flex-grow: 1;
      width: 88%;
   }

   .select-block {
     display: flex;
     flex: 0, 1, 100%;
     flex-direction: column-reverse;
     flex-wrap: nowrap;
     align-items: center;
   }
   .block-left {
     width: 100%;
   }
   .block-right {
     width: 100%;
   }

   .site-tales__item3 {
     flex-basis: 48%;
     flex-shrink: 0;
     flex-grow: 1;
     width: 88%;
   }

   .site-tales__item5 {
     flex-basis: 48%;
     flex-shrink: 0;
     flex-grow: 1;
     width: 88%;
   }
}

@media only screen and (min-width: 768px) and (max-width: 960px) {
  .header {
      max-height: 90px;
  }

   .site-tales__item {
      flex-basis: 90%;
      flex-shrink: 0;
      width: 88%;
   }

   .site-tales__item3 {
     flex-basis: 34%;
     flex-shrink: 0;
     flex-grow: 1;
     width: 88%;
   }

   .site-tales__item5 {
     flex-basis: 34%;
     flex-shrink: 0;
     flex-grow: 1;
     width: 88%;
   }

}
@media only screen and (min-width: 961px) and (max-width: 1120px) {
   .site-tales__item {
      /* flex-basis: 94%; */
      flex-shrink: 1;
      width: 40%;
   }

   .site-tales__item3 {
     flex-basis: 22%;
     flex-shrink: 0;
     flex-grow: 1;
     width: 88%;
   }

   .site-tales__item5 {
     flex-basis: 22%;
     flex-shrink: 0;
     flex-grow: 1;
     width: 88%;
   }
}
